/*
Project Name: Local-Chat
Author: Faruk Adekunle & Tyler Momoh
Contact: tylerjusfly1@gmail.com
File: Custom Css File
*/

/* CSS FOR MODALs  */
.modal-overlay {
  position: absolute;
  z-index: 9;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: #ffffff;
  color: black;
  border: 1px solid #bebebe;
  border-radius: 5px;
  padding: 12px 16px;
  position: relative;
  height: 200px;
  width: 350px;
}

.modal-close {
  position: absolute;
  right: 8.5px;
  top: 5px;
  font-size: 20px;
  cursor: pointer;
}

/* CSS FOR ANIMATIONS */

@keyframes sliderin {
  0% {
    transform: translate3d(110%, 0, 0);
    visibility: visible;
    opacity: 0.1;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.slide-in-left {
  animation: sliderin 1.5s ease-out both;
}

@keyframes sliderout {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    visibility: hidden;
    transform: translate3d(110%, 0, 0);
    opacity: 0.1;
  }
}

.slide-out-left {
  animation: sliderout 2s ease-in both;
}

/* EXTRA STYLES FOR AUTH */
.auth-bg-cover {
  background: linear-gradient(-45deg, #8c9ef1 50%, #ba3be7);
}
/* .bg-overlay {
  background: linear-gradient(to left, darken(#08b605, 10%), #07a304);
  opacity: 0.9;
} */

.auth-one-bg {
  background-image: url("../images/chat.svg") !important;
  background-position: center;
  background-size: cover;
}
