@tailwind base;
@tailwind components;
@tailwind utilities;

.no-border {
  border: 0 !important;
}

.swal-button {
  padding: 7px 19px;
  border-radius: 2px;
  background-color: #49b36c;
  font-size: 12px;
  border: 1px solid #3e549a;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}
